<div *ngIf="search">
<div class="panel panel-default">
<div class="panel-heading">
  {{search.name}}
  <span *ngIf=""search.company>,Works at {{search.company}}</span>
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-md-3">
      <img src="{{search.avatar_url}}" class="img-circle img-responsive" alt="Profile Image">
    </div>
<div class="col-md-5">
<ul class="list-group">
  <li class="list-group-item" *ngIf="search.bio">{{search.bio}}</li>
  <li class="list-group-item"  *ngIf="search.email"><a href="emailto:{{search.email}}"></a>{{search.email}}</li>
</ul>


</div>
<div class="col-md-4">
<div>
  <p>
  <span class="label label-default">{{search.type}} search bio</span>
  <span class="label label-primary">{{search.followers}} followers</span>
  <span class="label label-success">{{search.following}} following</span>
  <span class="label label-info">{{search.public_repos}} repos</span>
</p>
  </div>
</div>
</div>
</div>
</div>
